@font-face

{

    font-family: Alegreya;
    src:url(Alegreya-VariableFont_wght.ttf);

}
h1 {
    font-family: Alegreya;
}

li{
    font-family: Alegreya;
}
#fade {
    min-height: 100%;
    background: rgb(136,161,237);
    background: linear-gradient(189deg, rgba(136,161,237,1) 0%, rgba(173,219,205,1) 60%);

}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: rgb(136,161,237);
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, blue, red);
    background: -moz-linear-gradient( to left top, blue, red);
    background: -ms-linear-gradient( to left top, blue, red);
    background: -o-linear-gradient( to left top, blue, red);
    background: linear-gradient(189deg, rgba(136,161,237,1) 0%, rgba(173,219,205,1) 60%);
}

.center {
    text-align: center;
}

.center-text{
    text-align: center;
    list-style-position: outside;
}

.li-text{
    font-size: 40px;
}
/* Responsywność */
@media only screen and (max-width: 600px) {
    /* Dla urządzeń o szerokości mniejszej niż 600 pikseli */
    .center {
        font-size: 35px; /* zmniejszenie rozmiaru czcionki */
    }

    .center-text{
        font-size: 50px;
    }

    .li-text{
        font-size:35px;
    }
}

ul{
    margin-left: 8%;
}
img {
    margin-left: 45%;
    max-width: 20%;
    max-height: 20%;
}