#fade {
    min-height: 100%;
    background: rgb(136,161,237);
    background: linear-gradient(189deg, rgba(136,161,237,1) 0%, rgba(173,219,205,1) 60%);

}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: rgb(136,161,237);
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, blue, red);
    background: -moz-linear-gradient( to left top, blue, red);
    background: -ms-linear-gradient( to left top, blue, red);
    background: -o-linear-gradient( to left top, blue, red);
    background: linear-gradient(189deg, rgba(136,161,237,1) 0%, rgba(173,219,205,1) 60%);
}

@media screen and (min-width: 601px) {
    div.example {
        font-size: 90px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    div.example {
        font-size: 40px;
    }
}